<style>
    .nav-link { padding: 0 0.5rem !important; }
</style>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('dashboard') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="https://img.icons8.com/plasticine/100/000000/apple-calendar.png" alt="Logo calendrier"
                     width="50" height="50"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('dashboard') }}" class="nav-link px-2 text-white">Accueil</a></li>
                <li class="nav-link px-2 text-white dropdown">
                    <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Calendrier
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('calendrier_disponibilite') }}">Calendrier des disponibilités</a></li>
                    </ul>
                </li>
            </ul>

            <div class="text-end">
                <a href="{{ path("app_logout") }}">
                    <button type="button" class="btn btn-outline-light me-2">
                        Déconnexion
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>