{% extends 'base.html.twig' %}

{% block title %}Gestion de planning{% endblock %}

{% block body %}
    <h1>Gestion de planning</h1>
    <p>Bienvenue dans l'application de gestion de planning. Veuillez vous connecter pour continuer
        : <a href="{{ path("app_login") }}">Connexion</a>
    </p>
{% endblock %}