{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if is_granted("ROLE_INTERVENANT") %}
        {% include 'dashboard/header/intervenant.html.twig' %}
    {% elseif is_granted("ROLE_SECRETAIRE") %}
        {% include 'dashboard/header/secretaire.html.twig' %}
    {% else %}
        {% include 'dashboard/header/etudiant.html.twig' %}
    {% endif %}

    <div class="container text-center pt-5">
        <h1>Dashboard
            {% if is_granted("ROLE_INTERVENANT") %}
                intervenant
            {% elseif is_granted("ROLE_SECRETAIRE") %}
                secrétaire
            {% else %}
                étudiant
            {% endif %}
        </h1>

        <p>Vous avez été connecté avec succès {{ app.user.nom }} {{ app.user.prenom }}</p>
    </div>
{% endblock %}